.modal {
    width: 100px;
    height: 100px;
    margin:0 auto;
    position: absolute;
    left: 0;
    right:0;
    top: 40%;
}

html, body{

}
.contents-inline:after{
    clear: both;
    display: block;
    content: '';
}

#left-area{
    float: left;
    width: 80%;
    display: block;
}

#right-area{
    float: right;
    width: 20%;
    display: block;
}

#right-area div{
    margin-bottom: 12px;
}
.footer{
    display: block;
}


/*navigation start*/

li , a, ul, .main-navigation-wrapper{
    padding: 0px;
    margin: 0px;
}

.main-navigation-wrapper{
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid gray;
    background-color: #1abc9c;
    height: 50px;
}



li a{
    text-decoration: none;
}

li{
    list-style: none;
}

li i{
    margin-left: 10px;
}


.main-navigation-wrapper:after{
    clear: both;
    display: block;
    content: '';
}
.main-navigation-wrapper{
    margin: 0px;
    padding: 0px;
}
.main-navigation-wrapper li{
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.main-navigation-wrapper li:hover{
    background-color: lightgray;
}

