<app-progress-bar></app-progress-bar>
<!-- header start -->
<app-header></app-header>
<!-- header end-->
<!-- contents start -->
<div class="wrapper">
    <div class="contents-inline">
        <div id="left-area" [ngClass]="isClosed ?'lOnClosed':'lNotClosed'">
            <router-outlet></router-outlet>
        </div>

        <div id="right-area" [ngClass]="isClosed ? 'rOnClosed': 'rNotClosed'">
            <div id="paloma" (click)="changeClosed()">

                <button>{{isClosed ? 'Open' : 'Close'}}</button>

            </div>

            <div *ngIf="!isClosed">
                <div id="chat-area">
                    <app-chat-component></app-chat-component>
                </div>
                <div id="ad-area">
                    <app-target-ad></app-target-ad>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <global-spinner></global-spinner>
</div>
<!-- contents end -->

<!-- footer start -->
<div class="footer">
    <app-footer></app-footer>
</div>
<!-- footer end -->
