.modal {
    width: 100px;
    height: 100px;
    margin:0 auto;
    position: absolute;
    left: 0;
    right:0;
    top: 40%;
}

html, body{

}
.contents-inline:after{
    clear: both;
    display: block;
    content: '';
}

#left-area{
    float: left;
    display: block;
}

#right-area{
    float: right;
    display: block;
    padding: 10px 5px;
    border-left:  3px solid white;
}

.lOnClosed{
    width:98%;
}

.lNotClosed{
    width:80%;
}

.rOnClosed{
    width: 2%;
}
.rNotClosed{
    width: 20%;
}





#right-area div{
    margin-bottom: 12px;
}
.footer{
    display: block;
}
