<app-progress-bar></app-progress-bar>
<!-- header start -->
<app-header></app-header>
<!-- header end-->
<!-- nav start-->
<div class="main-navigation-wrapper">
    <ul *ngFor="let item of menuEntries">
        <li><a routerLink="{{item.url}}"><span>{{item.label}}</span><i class="fa fa-caret-down"></i></a></li>
    </ul>
</div>
<!-- nav end-->
<!-- contents start -->
<div class="contents-wrapper">
    <div class="contents-inline">
        <div id="left-area">
            <router-outlet></router-outlet>
        </div>
        <div id="right-area">
            <div id="chat-area">
                <app-chat-component></app-chat-component>
            </div>
            <div id="ad-area">
                <app-target-ad></app-target-ad>
            </div>
        </div>
    </div>
</div>
<div class="modal">
    <global-spinner></global-spinner>
</div>

<!-- contents end -->

<!-- footer start -->
<div class="footer">
    <app-footer></app-footer>
</div>
<!-- footer end -->
