<div class="main-header">
    <div class="main-header-inline">
        <div class="main-header-wrapper">
            <div class="header-logo-area">
                <img src="http://via.placeholder.com/350x150" alt="logo" style="vertical-align: middle">
                <h2>{{HEADER_TEXT}}</h2>
            </div>
            <div class="header-user-area">
                <div class="user-profile-wrapper">
                    <img src="http://via.placeholder.com/50x50" alt="user-face">
                    <h3>{{userName}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
