<div class="w3-container">
    <!--<div id="searchBar">-->
        <!--<select>-->
            <!--<option></option>-->
        <!--</select>-->
    <!--</div>-->
    <div>
        <table class="w3-table w3-border w3-bordered">
            <thead class="w3-light-gray">
            <tr>
                <th>No</th>
                <th>Site</th>
                <th>CrawTime</th>
                <th>Subject</th>
                <th>WriteTime</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let c of crawData">
                <td>{{c.no}}</td>
                <td><a [href]="c.link" target="_blank">{{c.subject}}</a></td>
                <td>{{c.created_time}}</td>

                <td>{{c.subject}}</td>
                <td>{{c.board_write_date}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<app-error-page [isHiding]="modalBoolean"></app-error-page>