<h2>{{title}}</h2>
<table border="1px">
  <thead>
    <th>no</th>
    <th>subject</th>
    <th>author</th>
    <th>book_type</th>
    <th>note</th>
    <th>path</th>
    <th>server_name</th>
    <th>reg_id</th>
    <th>future_date</th>
    <th>reg_date</th>
    <th>update_date</th>
    <th>read_status</th>
    <th>thumbnail_url</th>
    <th>review_url</th>
  </thead>
  <tbody>
    <tr *ngFor="let item of dummyData; let i = index">
      <td>
        {{item.no}}
      </td>
      <td>
        {{item.subject}}
      </td>
      <td>
        {{item.author}}
      </td>
      <td>
        {{item.book_type}}
      </td>
      <td>
        {{item.note}}
      </td>
      <td>
        {{item.path}}
      </td>
      <td>
        {{item.server_name}}
      </td>
      <td>
        {{item.reg_id}}
      </td>
      <td>
        {{item.future_date | date : DATE_FORMAT}}
      </td>
      <td>
        {{item.reg_date | date : DATE_FORMAT}}
      </td>     <td>
      {{item.update_date | date : DATE_FORMAT}}
    </td>
      <td>
        {{item.read_status }}
      </td>
      <td>
        {{item.thumbnail_url}}
      </td>
      <td>
        {{item.review_url}}
      </td>
    </tr>
  </tbody>
</table>
