<app-card [title]="'Book List'">
    <div>
        <!--<label>Search Bar : </label><input type="text"/><button>Search</button>-->
        <div ng2-auto-complete
             [source]="arrayOfStrings"
             (valueChanged)="valChanged($event)"
             max-num-list="5"
             placeholder="enter text">
            <input [ngModel]="searchText" #searchTarget/>
            <button (click)="searchingSubject(searchTarget.value)">Search</button>
        </div>
    </div>
    <ngx-datatable
            #table
            class="bootstrap"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="10"
            [offset]="nowPage"
            [count]="totalPage"
            [columnMode]="'force'"
            (page)="sync($event)"
            [externalPaging]="true"
            [rows]='bookModel'>

        <ngx-datatable-column name="No">
            <ng-template let-row="rows" let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['detail',value]">{{value}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Subject" prop="subject"></ngx-datatable-column>
        <ngx-datatable-column name="Author" prop="author"></ngx-datatable-column>
        <ngx-datatable-column name="Server" prop="server_name"></ngx-datatable-column>
        <ngx-datatable-column name="Type" prop="book_type">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | BookTypePipe}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Note">
        </ngx-datatable-column>
        <ngx-datatable-column name="Reg Date" prop="reg_date">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date : DATE_FORMAT}}
            </ng-template>
        </ngx-datatable-column>

    </ngx-datatable>
</app-card>
<app-server-down [isHiding]="isHiding"></app-server-down>