#pagination-area ul {
    list-style: none;
}

#pagination-area ul:after{
    display: block;
    clear: both;
    content: '';
}

#pagination-area li {
    float: left;
    margin-right: 5px;
    cursor: pointer;
}


.activePage{
    color : red;
    font-size: 20px;
}

.disablePage{
    color: lightgray;
}