<app-card [title]="">


    <ngx-datatable
            #table
            class='data-table'
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [limit]="10"
            [offset]="nowPage"
            [count]="totalPage"
            [columnMode]="'force'"
            (page)="sync($event)"
            [externalPaging]="true"
            [rows]='bookModel'>

        <ngx-datatable-column prop="no" name="" *ngIf="checkMode"  [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false"
                              [resizeable]="false" style="padding: 0px">
            <ng-template let-row="rows" let-value="value"  ngx-datatable-cell-template="" style="padding: 0px">
                <button style="margin: 0px" class="btn btn-danger" (click)="onDeleteBtn(value)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="No">
            <ng-template let-row="rows" let-value="value" ngx-datatable-cell-template>
                <a [routerLink]="['detail',value]">{{value}}</a>
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Subject"></ngx-datatable-column>
        <ngx-datatable-column name="Author"></ngx-datatable-column>
        <ngx-datatable-column prop="server_name" name="Server Name"></ngx-datatable-column>
        <ngx-datatable-column prop="book_type" name="Book Type">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | BookTypePipe}}
            </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Note">
        </ngx-datatable-column>
        <ngx-datatable-column prop="reg_date">
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{value | date : 'yyyy.MM.dd'}}
            </ng-template>
        </ngx-datatable-column>
    </ngx-datatable>

</app-card>
<app-server-down [isHiding]="isHiding"></app-server-down>