<button (click)="clickBack()" mat-button style="margin-bottom: 15px"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back Page</button>
<div class="w3-container w3-border">
    <h3>
        New Book Edit
    </h3>
</div>
<!--주석 처럼 해도 가능-->
<!--<form class="w3-container" #f="ngForm" (ngSubmit)="clickSubmit(f)" novalidate>-->
<div>
    <form class="w3-container" #f="ngForm" novalidate>
        <ng-container *ngFor="let form of FORM_DATA; let i = index">
            <!--<label><b> {{form.label}}</b></label>-->
            <mat-form-field class="book-write-form">
                <input matInput [placeholder]="form.label" [name]="form.label" [type]="form.type" ngModel/>
            </mat-form-field>
            <br/>
        </ng-container>

        <ng-container>
            <div style="margin-bottom: 15px">
                <label><b>book_type</b></label>
                <br/>
                <mat-radio-group ngModel name="book_type">
                    <mat-radio-button value="1">자기개발</mat-radio-button>
                    <mat-radio-button value="2">전공</mat-radio-button>
                </mat-radio-group>
                <!--자기개발 <input class="w3-radio" id="book_type" type="radio" name="book_type" value="1" ngModel>-->
                <!--전공 <input class="w3-radio" id="book_type" type="radio" name="book_type" value="2" ngModel>-->
            </div>
        </ng-container>

        <ng-container>
            <div style="margin-bottom: 25px">
                <label><b>read_status</b></label>
                <br/>
                <mat-radio-group ngModel name="read_status" (change)="myRadioChange($event)">
                    <mat-radio-button value="0">안 읽음</mat-radio-button>
                    <mat-radio-button value="1">읽는 중</mat-radio-button>
                    <mat-radio-button value="2">읽음</mat-radio-button>
                </mat-radio-group>
            </div>
        </ng-container>

        <!-- ngModel 을 쓰고 있으므로, 굳이 dateInput 을 쓸 필요는 없다. name 프로퍼티는 꼭 있어야한다.-->
        <label><b>future_date</b></label>
        <ng-container>
            <mat-form-field>
                <!--<input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="addEvent('input',$event)"(dateChange)="changeEvent($event)" [(ngModel)]="my_date_picker" name="future_date">-->
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" (dateInput)="addEvent('input',$event)"
                       (dateChange)="changeEvent($event)" ngModel name="future_date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </ng-container>
        <br/>

        <button mat-raised-button color="primary" (click)="clickSubmit(f)">Sender</button>
        <button mat-raised-button color="warn" type="reset">Reset</button>
    </form>
</div>