<div class="main-header">
    <div class="main-header-inline">
        <div class="main-header-wrapper">
            <div class="header-area-wrapper">
                <div class="header-logo-area">
                    <a href="/" style="text-decoration: none; display: block; background-color: yellow">
                        <img src="http://via.placeholder.com/350x150" alt="logo" style="vertical-align: middle">
                        <h2>{{HEADER_TEXT}}</h2>
                    </a>
                </div>
                <div class="header-nav-area" style="background-color: green">
                    <div class="main-navigation-wrapper">
                    <div class="top-item" *ngFor="let item of menuEntries">
                        <div #clickArea (click)="clickToggle(clickArea)">
                            <li class="top-child-item"><a><span>{{item.label}}</span></a></li>
                            <div class="sub-menu" style="display: none">
                                <li class="child-item" *ngFor="let child of item.child">
                                    <a [routerLink]="child.url"><span>{{child.label}}</span></a>
                                </li>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
            </div>
            <div class="header-user-area" style="background-color: red">
                <div class="user-profile-wrapper">
                    <div class="user-profile-area">
                        <img src="http://via.placeholder.com/50x50" alt="user-face">
                        <h3>{{userName}}</h3>
                    </div>
                    <div class="user-profile-submenu">
                        <ul>
                            <li><a href="javascript:void(0)">User Edit</a></li>
                            <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
