a{
    text-decoration: none;
}


.main-header{
    min-height: 30px;
    background-color: rgb(30,30,30);
}

.main-header, .main-header-inline{
    padding: 0px;
    margin: 0px;
}

.main-header-inline{
    box-sizing: border-box;
    padding: 0px 0px 5px;
}

.main-header-wrapper:after{
    clear: both;
    display: block;
    content: '';
}

.header-area-wrapper{
    width: 50%;
    float: left;
}

.header-area-wrapper:after{
    clear: both;
    display: block;
    content: '';
}

.header-logo-area{
    float: left;
    display: block;
    width: 40%;
    height: 100%;
}

.header-nav-area{
    float: right;
    display: block;
    width: 60%;
    height: 100%;
}
.header-user-area{
    float: right;
    display: block;
    width: 50%;
}

.header-logo-area img{
    padding: 0;
    margin: 0;
    width: 150px;
    height: 30px;

}
.user-profile-wrapper{
    float: right;
    display: block;
}
.user-profile-area img {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.user-profile-area h3{
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.header-logo-area h2, .header-user-area h3{
    font-size: 14px;
    display: inline-block;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: red;
    box-sizing: border-box;
}

.header-user-area img{
    width: 25px;
    height: 25px;
}

.user-profile-area{
    margin-right: 12px;
    padding: 5px 10px;
    position: relative;
}

.user-profile-submenu ul{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 30px;
    right: 0px;
}

.user-profile-submenu ul:after{
    clear: both;
    display: block;
    content: '';
}

.user-profile-submenu li{
    font-size: 12px;
    background-color: #8bc34a;
    padding: 0px;
    margin: 0px 0px 3px;
}




.main-navigation-wrapper:after{
    clear: both;
    display: block;
    content: '';
}
.main-navigation-wrapper{
    margin: 0px;
    padding: 0px;
}
.main-navigation-wrapper li{
    float: left;
    display: inline-block;
    margin-right: 10px;
}

.main-navigation-wrapper li:hover{
    background-color: lightgray;
}

.main-navigation-wrapper li a{
    text-decoration: none;
}

.main-navigation-wrapper li{
    list-style: none;
}

.main-navigation-wrapper li i{
    margin-left: 10px;
}

